<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar style="background-color: #3c3c3c;" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="../../../assets/imagens/meraki.png" width="120px">
        <div class="usuario">
            <button mat-stroked-button [matMenuTriggerFor]="menu">
                <span *ngIf="auth.user$ | async as user; else icon" style="margin-right: 8px;">
                    <img [src]="(auth.user$ | async).photoURL" alt="profile photo" style="width: 25px;border-radius: 50%;">
                </span>
                <ng-template #icon>
                    <mat-icon class="usuario">account_circle</mat-icon>
                </ng-template>
                <span>{{(auth.user$|async).displayName}}</span>
                <mat-menu #authenticated #menu="matMenu" activa>
                    <button mat-menu-item routerLink="login">Perfil</button>
            <button mat-menu-item *ngIf="auth.user$|async as user" class="w3-red" (click)="auth.signOut()">Cerrar Sesion</button>
            </mat-menu>

            </button>
            <!--  <mat-menu #menu="matMenu" activa>
                <button mat-menu-item routerLink="login">Iniciar Sesion</button>
                <button mat-menu-item>Registrarse</button>
                <ng-template #authenticated>
                    <div class="boton" >
                        <button mat-menu-item *ngIf="auth.user$ | async as user"class="w3-red" (click)="auth.signOut()">Cerrar Sesión</button>
                    </div>
                </ng-template>
            </mat-menu>
            -->
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav style="width: 200px;background-color:#3c3c3c;" #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list style="justify-content: center;margin: auto; position: relative; display: grid; height:auto;">
                <button style="margin:auto;width: 190px;height:70px;font-size:20px;" mat-button routerLink="bienvenidos">Bienvenidos</button>
                <button style="margin:auto;width: 190px;height:70px;font-size:20px;" mat-button routerLink="contenido">Empezar Test</button>
                <img src="../../../assets/imagens/instructor.png" width="100px" style="margin: auto;" alt="">
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="background: linear-gradient(90deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); ">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>