<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
<footer>
    <div id="contactanos" class="container-footer-all">
        <div class="container-body">

            <div class="colum1">
                <h1>CONTACTA CON NOSOTROS</h1>
            
                <br>
                <div class="row">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <label for="">Telefono :054-5678923</label>
                </div>
                <div class="row">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <label for="">Direccion: Campus TECSUP - Jose Luis Bustamante y Rivero - Arequipa</label>
                </div>

                <br>
            </div>


            <div class="colum2">
                <h1>UBICANOS EN</h1>
                <br>

                <!-- MAPBOX -->
                <div class="row2" id="mapa-mapbox">

                </div>


            </div>



            <div class="colum3">

                <h1>NUESTRAS REDES SOCIALES</h1>
                <br>
                <div class="row3">
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    <label>Siguenos en Facebook</label>
                </div>
                <div class="row3">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <label>Siguenos en Youtube</label>
                </div>
                <div class="row3">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <label>Siguenos en Twitter</label>
                </div>
                <div class="row3">
                    <i class="fa fa-whatsapp" aria-hidden="true"></i>
                    <label>Siguenos en Whatsapp</label>
                </div>
               

            </div>
        </div>

        <div class="container-footer" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
            <div class="copyright">
                © 2019 Peru | Todos los derechos reservados
            </div>
        </div>
    </div>

</footer>