<div class="contenedor">
    <mat-card class="w3-container w3-margin w3-padding" style="opacity:0.8">
        <div class="contenido">
            <h2>Ingreso Usuario</h2>
            <mat-icon Rounded>account_box</mat-icon>
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Usuario</mat-label>
                    <input type="text" matInput placeholder="Usuario">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="standard">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput placeholder="Contraseña">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </p>
            <button mat-button class="w3-yellow w3-center">Ingresar</button>
        </div>

    </mat-card>
</div>