/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Quicksand', sans-serif;
    text-size-adjust: 40px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

.imagen {
    display: inline-block;
    size: 100px;
    ;
    height: auto;
    width: 800px;
}

h1 {
    font-family: 'Quicksand', sans-serif;
}