<!-- <div [formGroup]="regForm">

    <div *ngFor="let cat of misCategorias">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="gappx" style="padding: 20px;">
            <button mat-stroked-button color="primary" *ngFor="let sub of cat.subcategorias" [ngSwitch]="cat.subcategorias">{{sub}}</button>

        </div>
    </div>

    <mat-form-field formGroupName="subcategoria">
        <input matInput placeholder="Subcategoria" formControlName="subcategoria">
    </mat-form-field>
</div>
<br/> -->