<!-- <form fxLayout="column" fxLayoutAlign="space-around center " [formGroup]="regForm" style="width: 100%;"> -->
<mat-form-field class="producto" appearance="outline">
    <div class="row">
        <div class="col-md-9">
            <input type="text" placeholder="Producto a Cotizar" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="prod_nomb">
        </div>
        <div class="col-md-3">
            <button mat-mini-fab color="primary" (click)="anadirProductoLocal()">Add</button>
        </div>
    </div>
    <!-- <i class="mdi mdi-plus-circle mdi-36px"></i> -->
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of productos" [value]="option.prod_nomb">
            {{option.prod_nomb}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of ListaProductos">
            <td>1</td>
            <td>{{f.prod_nomb}}</td>
            <td> <input type="number"> </td>
            <td style="display: flex;">
                <button class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button class="btn btn-danger ml-2"> <i class="fas fa-trash-alt    "></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
</div>