<section class="banner">
    <div class="slider slider--full">
        <!-- <div class="slider slider--fixed"> -->
        <!-- <div class="slider slider--proportional slider--proportional--16x9"> -->
        <div class="slider__inner">
            <input checked type="radio" name="slider__radiobox" id="slider__radiobox--1" class="slider__radiobox slider__radiobox--1"><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item--1"></label>
            <label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev--4"></label><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next--2"></label>
            <input type="radio" name="slider__radiobox" id="slider__radiobox--2" class="slider__radiobox slider__radiobox--2"><label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item--2"></label>
            <label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev--1"></label><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next--3"></label>
            <input type="radio" name="slider__radiobox" id="slider__radiobox--3" class="slider__radiobox slider__radiobox--3"><label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item--3"></label>
            <label for="slider__radiobox--2" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev--2"></label><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next--4"></label>
            <input type="radio" name="slider__radiobox" id="slider__radiobox--4" class="slider__radiobox slider__radiobox--4"><label for="slider__radiobox--4" class="slider__radiobox-label slider__radiobox-label--item slider__radiobox-label--item--4"></label>
            <label for="slider__radiobox--3" class="slider__radiobox-label slider__radiobox-label--prev slider__radiobox-label--prev--3"></label><label for="slider__radiobox--1" class="slider__radiobox-label slider__radiobox-label--next slider__radiobox-label--next--1"></label>

            <div class="slider__slides">
                <div class="slider__slide slider__slide--1" style="background-image: url('./../../assets/imagens/Fondo.png');">
                    <div class="contentBox h100">
                        <div style="display:flex;flex-direction: row;">
                            <div style="margin-top: 150px;transform: translateX(-20%);">
                                <h2>OPTIMIZA TU TIEMPO</h2>
                                <h1 style="margin-top: 0px;">COTIZA YA</h1>
                            </div>
                            <div style="display: flex;flex-direction: row;justify-content: center;transform: translateX(50%);">
                                <img src="./../../../assets/imagens/0003.png" width="400px">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="slider__slide slider__slide--2" style="background-image: url('http://trapecio.uy/wp-content/uploads/2018/08/background-como-trabajamos-1000px.jpg');"></div>
                <div class="slider__slide slider__slide--3" style="background-image: url('http://trapecio.uy/wp-content/uploads/2018/08/background-como-trabajamos-1000px.jpg');"></div>
                <div class="slider__slide slider__slide--4" style="background-image: url('http://trapecio.uy/wp-content/uploads/2018/08/background-como-trabajamos-1000px.jpg');"></div> -->
            </div>
        </div>
    </div>

    <!-- CATEGORIAS -BUTTONS-->
    <section style="padding-top: 60px;padding-bottom: 60px;background-color: #2A296D;">

        <div style="display: flex;flex-direction: row; padding: 50px;justify-content: space-evenly;">
            <mat-card style="width: 300px;height: 250px;background-image: url(../../../assets/imagens/HOME/Construccion.png);background-size: cover;background-position: center center;">
                                   
                    <h4>Construcción</h4>
                    <p class="texto">
                        Cotiza herramientas y maquinaria para la construcción de tu inmueble o proyecto.
                    </p>
            </mat-card>
            <mat-card style="width: 300px;height: 250px;background-image: url(../../../assets/imagens/HOME/Alimentos.png);background-size: cover;background-position: center center;">
                
                    <h4>Abarrotes</h4>
                    <p class="texto">
                        Cotiza comestibles, bebidas, conservas.
                    </p>
                
            </mat-card>
            <mat-card style="width: 300px;height: 250px;background-image: url(../../../assets/imagens/HOME/Tecnologia.png);background-size: cover;background-position: center center;">
                <!-- <img src="./../../../assets/imagens/0001.png" width="200px" alt=""> -->
                
                    <h4>Tecnologia</h4>
                    <p class="texto">
                        Cotiza diferentes dispositivos digitales y electronicos.
                    </p>
               
            </mat-card>
        </div>
        <div style="display: flex;flex-direction: row; padding: 50px;justify-content: space-evenly;">

            <mat-card class="naranja" style="width: 300px;height: 250px;background-image: url(../../../assets/imagens/HOME/Home.png);background-size: cover;background-position: center center;">
                
                    <h4>Hogar</h4>
                    <p class="texto">
                        Cotiza accesorios que ayuden a mejorar tu hogar.
                    </p>
               

            </mat-card>
            <mat-card style="width: 300px;height: 250px;background-image: url(../../../assets/imagens/HOME/Auto.png);background-size: cover;background-position: center center;">
               
                    <h4>Auto</h4>
                    <p class="texto">
                        Cotiza autos, articulos u accesorios.
                    </p>
              

            </mat-card>
            <mat-card style="width: 300px;height: 250px;background-image: url(../../../assets/imagens/HOME/Textiles.png);background-size: cover;background-position: center center;">
                
                    <h4>Textiles</h4>
                    <p class="texto">
                        Cotiza prendas, telas o insumos para ha confección textil.
                    </p>
                

            </mat-card>
        </div>



    </section>

    <!-- TARJETAS -->

    <section id="nosotros" style="background-color: #373481;height: 800px;">
        <div class="seccion2" fxLayout="row" fxLayoutAlign="space-evenly center" style="padding: 30px;">
            <div class="comentarios" style="width: 50%;margin-top: 100px;">
                <h2 style="color: #FE9B65;"><strong>Acerca de nosotros</strong></h2>
                <p style="color: white;font-size: 35px;margin-top: 0px;"><strong> ¡Cotizar en linea nunca fue tan facil! </strong></p>
                <p style="color: white;">A-Cotizar está comprometido con tus necesidades del proceso de compra, por lo que te ofrecemos la forma más sencilla de cotizar sin necesidad de trasladarte de un lugar a otro, solo para ver si existe un producto a tu</p>

                <br>

                <H3 style="color: whitesmoke; text-align: center; font-size: 30px ;"><strong> MISIÓN</strong></H3>
            <p style="color: whitesmoke; text-align: center;">"Somos una plataforma digital de cotización en línea que tiene como objetivo facilitar el proceso de decisión de compra del cliente ante diferentes productos que ofertan los proveedores adscritos a
                nosotros, de manera que los mismos se empoderen
                en el mercado nacional, y de ser posible, latinoamericano".
            </p>
            <br>
            <H3 style="color: whitesmoke; text-align: center;font-size: 30px;"><strong>VISIÓN</strong> </H3>
            <p style="color: whitesmoke; text-align: center;">"Ser una plataforma reconocida en el mercado nacional e internacional que atiende las necesidades de los clientes y dar ventajas competitivas a los proveedores, siendo un nexo de contacto para ambas partes,
                además de ser valorada por dar cotizaciones
                reales y altamente confiables".
            </p>
            </div>
            <div class="cards" fxLayout="row">
               <img src="../../../assets/imagens/HOME/Person-Quote.png" alt="">
            </div>
        </div>
    </section>
    <!-- QUIENES SOMOS -->


    <section id="quienesSomos" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx" style="background: rgb(254,134,100);
    background: linear-gradient(90deg, rgba(254,134,100,1) 0%, rgba(250,112,101,1) 50%, rgba(242,79,100,1) 100%);height:800px;">
        <h2 style="color: white;margin-top: 30px;"><strong>Comprometidos con tus necesidades</strong></h2>
        <p style="color: white;font-size: 35px;"><strong>NUESTRAS FUNCIONES  </strong></p>

        <!-- <div class="seccion1" fxLayout="row" fxLayoutAlign="space-evenly center" style="width: 100%;height: auto;">
            <div class="textoMV">
                <H3>MISIÓN</H3>
                <p>"Somos una plataforma digital de cotización en línea que tiene como objetivo facilitar el proceso de decisión de compra del cliente ante diferentes productos que ofertan los proveedores adscritos a nosotros, de manera que los mismos se
                    empoderen en el mercado nacional, y de ser posible, latinoamericano".
                </p>
                <br>
                <H3>VISIÓN</H3>
                <p>"Ser una plataforma reconocida en el mercado nacional e internacional que atiende las necesidades de los clientes y dar ventajas competitivas a los proveedores, siendo un nexo de contacto para ambas partes, además de ser valorada por dar
                    cotizaciones reales y altamente confiables".
                </p>
            </div> -->
        <!-- <div class="imagen">
                <img src="http://trapecio.uy/wp-content/uploads/2018/08/background-como-trabajamos-1000px.jpg">
            </div> -->
        <!-- </div> -->
        <div class="contenedor" style="display: flex;flex-direction: row; width: 75%;justify-content: center;margin-top: 20px;">
            <div>
                <mat-card style="width: 400px;height: 400px;background-image: url(../../../assets/imagens/HOME/Personas-Quote.png);background-size: cover;background-position: center center;">
                    <!-- <h1 class="acerca">Registrate</h1> -->
                </mat-card>
            </div>

            <div style="margin-left: 20px;">
                <mat-card style="height: 195px;width:230px;background-color: #F5D9A7;background-image: url(../../../assets/imagens/HOME/Productos.png);background-size: cover;background-position: center center;">
                    <!-- <h1 class="acerca">Ingresa</h1> -->

                </mat-card>
                <mat-card style="height: 195px;width:230px;margin-top: 10px;background-color: #413C7C;background-image: url(../../../assets/imagens/HOME/Disponiblidad.png);background-size: cover;background-position: center center;">
                    <!-- <h1 class="acerca">Registrate</h1> -->
                </mat-card>
            </div>

            <div style="margin-left: 20px;">
                <mat-card style="height: 195px;width:230px;background-color: white;background-image: url(../../../assets/imagens/HOME/Ahorro.png);background-size: cover;background-position: center center;">
                    <!-- h1>Haz tu pedido</h1> -->

                </mat-card>
                <mat-card style="height: 195px;width:230px;margin-top: 10px;background-color: #FFD401;background-image: url(../../../assets/imagens/HOME/Confiabilidad.png);background-size: cover;background-position: center center;">
                    <h1 class="acerca">Contacta</h1>
                </mat-card>
            </div>

        </div>
    </section>